
.zero {
    margin: 0;
    padding: 0;
}
.centered {
    text-align: center;
}
.hidden {
    visibility: hidden;
}
.underline {
    text-decoration: underline;
}
.hero-unit {
    word-wrap: break-word;
}
nav .navbar {
    margin-bottom: 0;
}
nav .navbar .nav {
    margin: 0;
    padding: 0;
}
nav .nav > li > a:hover {
    background-color: transparent;
    text-decoration: underline;
}
nav .navbar-inner {
    background-color: #3d4754;
    background-image: none;
    border: 0 none;
    border-radius: 6px 6px 0 0;
    box-shadow: none;
    filter: none;
    min-height: 20px;
    padding: 6px;
}
nav .dropdown-menu {
    background-color: #3d4754;
    background-image: none;
    border: 0 none;
    border-radius: 0 0 3px 3px;
    box-shadow: none;
    min-height: 20px;
    padding: 6px;
}
nav .dropdown-submenu > .dropdown-menu {
    border-radius: 3px;
    left: 100%;
    margin-left: 2px;
    top: 5px;
}
nav .dropdown-submenu > a::after {
    visibility: hidden;
}
nav .navbar .nav > li > .dropdown-menu::after, nav .navbar .nav > li > .dropdown-menu::before {
    visibility: hidden;
}
nav .navbar .nav > li > a, nav .nav-collapse .nav > li > a, nav .nav-collapse .dropdown-menu a {
    color: #fff;
    font-weight: normal;
    margin: 0;
    padding: 8px;
    text-shadow: none;
}
nav .dropdown-menu a, nav .nav-collapse .dropdown-menu a {
    color: #fff;
    font-weight: normal;
    margin: 0;
    text-shadow: none;
}
nav .dropdown-menu li > a:hover, nav .dropdown-menu li > a:focus, nav .dropdown-submenu:hover > a, nav .nav-collapse .nav > li > a:hover, nav .nav-collapse .dropdown-menu a:hover {
    background-color: #3d4754;
    background-image: none;
    box-shadow: none;
    color: #fff;
    filter: none;
    font-weight: normal;
    text-decoration: underline;
}
nav .navbar .nav > li > a:hover, nav .nav-collapse .nav > li > a:hover {
    background-color: #3d4754;
    background-image: none;
    box-shadow: none;
    color: #fff;
    font-weight: normal;
    text-decoration: underline;
}
nav .navbar .nav li.dropdown.open > .dropdown-toggle, nav .navbar .nav li.dropdown.active > .dropdown-toggle, nav .navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: #3d4754;
    box-shadow: none;
    color: #fff;
    font-weight: normal;
    text-decoration: underline;
}
nav .nav-list form {
    display: inline;
    margin: 0;
    padding: 0;
}
nav .nav-list form .btn {
    margin: 0;
    padding: 0;
}
.dropdown-menu form {
    margin: 0;
    padding: 0;
}
.pagination ul > li > a, .pagination ul > li > span {
    padding: 0 9px;
}
.CodeMirror-scroll {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #555;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 9px;
    padding: 4px;
}
.CodeMirror-scroll {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}
.field_with_errors .CodeMirror-scroll {
    border-color: #b94a48;
}
.CodeMirror-focused {
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
}
.content-spacer {
    margin-top: 36px;
}
.dashboard-wow {
    font-size: 3.5em;
}
.well a {
    color: #000;
}
div.dataTables_length {
    padding-left: 34px;
    padding-top: 8px;
}
div.dataTables_length label {
    float: left;
    text-align: left;
}
div.dataTables_length select {
    width: 75px;
}
div.dataTables_filter label {
    float: right;
    font-weight: bold;
}
div.dataTables_filter label input {
    border-radius: 10px;
}
div.dataTables_wrapper {
    margin: 0;
    padding: 6px 0;
}
div.dataTables_length {
    float: left;
    margin: 0;
    padding: 0;
}
div.dataTables_paginate {
    float: right;
    margin: 0;
    padding: 0;
}
div.dataTables_info {
    float: left;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
div.dataTables_filter {
    float: right;
    margin: 0;
    padding: 0;
}
.row-sortable-top {
    margin-bottom: 24px;
}
.row-sortable-bottom {
    margin-top: 24px;
}
table.table thead .sorting, table.table thead .sorting_asc, table.table thead .sorting_desc, table.table thead .sorting_asc_disabled, table.table thead .sorting_desc_disabled {
    cursor: pointer;
}
table.dataTable th:active {
    outline: 0 none;
}
table.table-borderless th {
    border: 0 none;
}
table.table-borderless td {
    border: 0 none;
}
.table th {
    color: #555;
}
.table th.sorting:hover {
    text-decoration: underline;
}
.table th.sorting_asc:hover {
    text-decoration: underline;
}
.table th.sorting_desc:hover {
    text-decoration: underline;
}
.table-modifiers {
    margin-top: 48px;
}
ul.clean {
    list-style: outside none none;
}
header {
    background-color: #495666;
    color: #fff;
    padding-bottom: 12px;
    padding-top: 12px;
}
header img {
    float: left;
    padding-bottom: 0;
    padding-left: 12px;
    padding-right: 36px;
}
header h1 {
    float: left;
    font-size: 1.4em;
    font-weight: normal;
    margin: 0;
    padding: 6px 0 0;
}
header h2 {
    color: #dd7727;
    float: right;
    font-size: 1.4em;
    font-weight: normal;
    margin: 0;
    padding: 6px 12px 0 0;
}
nav {
    background-color: #495666;
    margin-bottom: 12px;
}
section h2 {
    color: #555;
}
footer {
    margin: 0;
    padding: 48px 0 12px;
}
footer .container {
    border-top: 1px solid #e1e1e1;
    color: #bbb;
    font-size: 0.9em;
    padding: 6px;
    word-wrap: break-word;
}
footer .container a {
    color: #bbb;
}

